
django==3.2.20
djangorestframework
django-filter
coreapi
beautifulsoup4
lxml
python-memcached
pymysql
mysqlclient
django-tagging
markdown
django-cors-headers
django-crispy-forms
django-guardian
requests

